<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="nav-logo">
            <span>MSc Data Science</span>
        </a>
        <ul class="nav-links">
            <li><a href="index.html" data-page="index">Home</a></li>
            <li><a href="program.html" data-page="program">Program</a></li>
            <li><a href="cohort.html" data-page="cohort">Cohort</a></li>
            <li><a href="contact.html" data-page="contact">Contact</a></li>
        </ul>
        <div class="nav-toggle" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
